*{
    margin: 0;
    padding: 0;
}
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
/* All Font */
body{
    font-family: 'Merriweather', serif;
}
/* Header Section Style */
.header-main{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    text-align: center;
    padding: 177px 344px;
}
.banner h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0PX;
    margin-bottom: 16px;
}
.banner h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
}
