.header-main{
    background-image: url(../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png);
     background-repeat: no-repeat;
     background-size: ;
     margin: 40px 110px ;
     background-size:cover;
 }
 .container{
     text-align: center;
 }
 .banner{
     padding: 177px 0 ;
 }
 .banner h3{
     color: #FFF;
     text-align: center;
     font-size: 32px;
     font-weight: 400;
     margin-top: 0;
     margin-bottom:16px;
 }
 .banner h1{
     color: #FFF;
 text-align: center;
 font-family: Merriweather;
 font-size: 72px;
 font-style: normal;
 font-weight: 900;
 
 }